/* Mobile First Design */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Variables */

:root {
    /* Colors */
    --color-white: hsl(0, 100%, 100%);
    /* Primary, Text */
    --color-dark-blue: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);

    /* Background Gradient */
    --bg-gradient: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);

    /* Font Weights */
    --weight-regular: 400;
    --weight-bold: 700;

    /* Neutral, Text */
    --color-dark-gray-blue: hsl(237, 12%, 33%);
    --color-mid-dark-gray-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --color-light-gray-blue: hsl(240, 5%, 91%);

   /* --transition: 300ms ease-in-out; */
}

/* Reset */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    outline: 1px black solid;
}

html, body  {
    height: 100vh;
}

h1, 
h2, 
h3, 
p {
    margin: 0;
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Kumbh Sans',
    sans-serif;
    background: var(--bg-gradient);
}

.main {
    margin: auto;
    padding-top: 150px;
    padding-bottom: 0;
    min-width: 375px;
    max-width: 780px;
    height: 100vh;
}

.faq-container {
   background-color: var(--color-white);
   width: 375px;
   height: 530px;
   margin: auto;

}

.accordion {
    background-color: #eeeeee;
    color: #444444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Adds a background color to the button if it is clicked on when you hover (active class w/JS) */

.active, .accordion:hover {
    background-color: #cccccc;
}

/* Style accordion panel which is hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}




/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
