/* Mobile First Design */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Variables */

:root {
    /* Colors */
    --color-white: hsl(0, 100%, 100%);
    /* Primary, Text */
    --color-dark-blue: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);

    /* Background Gradient */
    --bg-gradient: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);

    /* Font Weights */
    --weight-regular: 400;
    --weight-bold: 700;

    /* Neutral, Text */
    --color-dark-gray-blue: hsl(237, 12%, 33%);
    --color-mid-dark-gray-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --color-light-gray-blue: hsl(240, 5%, 91%);

    --transition: 500ms ease-in-out; 
}

/* Condensed Universal Reset */
* {
    box-sizing: inherit;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 1px solid black;
    padding: 0; 
    margin: 0;
}
*::before, *::after {
    box-sizing: inherit;
}

/* Additional Reset */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html, body {
    height: 100%; 
}

h1, 
h2,
h3,
p {
    margin: 0;
}

/* Page Style */

body {
    font-family: 'Kumbh Sans',
    sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background-image: var(--bg-gradient);
}

/* Typography Styling */
 .heading {
    font-size: 3.2rem;
    font-weight: var(--weight-bold);
    color: var(--color-dark-blue);
    line-height: 3.8rem;
 }

 .question {
     font-size: 1.3rem;
     font-weight: var(--weight-regular);
     color: var(--color-mid-dark-gray-blue);
     line-height: 1.6rem;
 }

 .answer {
     font-size: 1.2rem;
     font-weight: var(--weight-regular);
     color: var(--color-light-gray-blue);
     line-height: 1.8rem;
 }

/* Main Styling */

.main {
    display: flex;
    justify-content: center;
    height: 90%;
    padding: 4rem 2.4rem 8.5rem;
}

/* FAQ Section Styling */

.faqs {
    height: 100%;
    display: flex;
    max-width: 56rem;
    position: relative;
    align-items: center;
    flex-flow: nowrap;
    box-shadow: 0 5rem 5rem -2rem rgba(53,18,122,0.50);
}

.faqs::before {
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    top: 10.8rem;
    position: absolute;
    border-radius: 2.3rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--color-white);
    background-image: url(./images/bg-pattern-mobile.svg);
}


/* Footer */ 
footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Media Queries */

